@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

header {
  background-color: #fff;
}

.ambuger-menu {
  display: flex;
  flex-direction: column;
}

.bar {
  display: block;
  width: 33px;
  height: 3px;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #162ae3;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

section {
  padding: 5rem 1.25rem 6rem;
  background-color: #fff;
}

.major-container {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 80px;
  background-image: url("./images/hero_bg.png");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: 100% 100%;
  padding-top: 70px;
  justify-content: center;
}

.section-head {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  padding: 0.6em 0;
}

#about {
  border-top-right-radius: 80px;
}

.section-head p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.section-head h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  font-style: normal;
}

.self-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.self-container p {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #142cff;
  height: 24px;
  flex: none;
}

.list-items {
  display: flex;
  gap: 10px;
}

.list-items img {
  height: 15px;
  width: 15px;
}

.list-items li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-logo a {
  width: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #051eff;
  transition: transform 0.2s ease-in-out;
}

.nav-logo:hover {
  transform: rotate(91deg);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.first-section {
  border-bottom-left-radius: 80px;
}

.project-section {
  background-color: #e5e5e5;
}

.project-card {
  flex-direction: column;
  gap: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
}

.project-container {
  display: grid;
  gap: 24px;
}

.project-card:nth-of-type(2),
.project-card:nth-of-type(3),
.project-card:nth-of-type(4) {
  margin-top: 85px;
}

.project-meta {
  padding: 8px 0;
  width: 100%;
  gap: 12px;
  align-items: center;
}

p.bold {
  font-weight: 600;
  text-transform: uppercase;
}

.project-meta p {
  font-size: 13px;
  color: #4D5866;
  padding: 8px 0;
}

.round {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

.project-note {
  font-size: 15px;
}

ul {
  list-style-type: none;
}

.project-skills {
  gap: 8px;
  margin: 12px 0;
}

.project-skills li {
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
  font-size: 12px;
  color: #0018f5;
}

button {
  margin-top: 24px;
  padding: 12px;
  color: #003bd1;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  font-size: 17px;
  width: fit-content;
  transition: all cubic-bezier(0.08, 0.82, 0.48, 1.27) 3s;
}

button:hover {
  border: none;
  color: #fff;
  background: #2b2b2b;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  border: none;
  color: #fff;
  background: #2230d2;
}

.header-text {
  max-width: 50%;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.para-text {
  margin: 12px 0;
}

ul.list-items.skill-items {
  margin-top: 12px;
  gap: 24px;
}

.language {
  margin-top: 24px;
  gap: 12px;
}

.lang-text {
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  color: #000;
  font-weight: 500;
  width: 100%;
  padding: 24px 42px 36px 0;
}

.skill-text {
  font-size: px;
  color: #253858;
  font-weight: 500;
}

span {
  display: inline-block;
}

.lang-line {
  font-weight: 500;
  color: #5e6c84;
  transform: rotate(90deg);
}

.line:nth-of-type(1) {
  rotate: 90deg;
}

.lang-list {
  align-items: center;
  padding: 24px;
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
}

.lang-div {
  gap: 12px;
}

.frame-line {
  color: #dfe1e6;
}

.project-tag {
  color: #6070ff;
}

.contact-card {
  display: flex;
  flex-direction: column;
  background-image: url(./images/contact-bg2.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: inherit;
  padding-top: 100px;
  justify-content: center;
}

.contact-me h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-me p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 15px;
  padding: 10;
  background-color: #1a30ff;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input {
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
}

.input-textarea {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px 38px 15px 16px;
}

.submit-button {
  width: 140px;
  height: 48px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 30px;
}

.desktop-tools {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-link {
    display: none;
  }

  .major-container {
    display: flex;
    flex-direction: column;
    background-image: url(./images/header-bg.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    padding: 50px 50px;
  }

  .minor-container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .section-head h1 {
    width: 40%;
  }

  .section-head p {
    width: 95%;
  }

  .nav-container {
    padding: 10px 40px;
  }

  .desktop-tools {
    display: inline;
  }

  .display-tools,
  li,
  a {
    padding-right: 10px;
    height: 0%;
  }

  .project-container {
    gap: 0;
  }

  .project-section {
    padding-right: 60px;
    padding-left: 60px;
  }

  .project-card {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card img {
    height: 100%;
    width: 100%;
    transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
  }

  .project-card img:hover {
    transform: scale(1.1, 1.1);
  }

  .prject-card-info {
    padding: 20px;
  }

  .order-2 {
    order: 2;
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .language {
    display: block;
  }

  .lang-text {
    display: flex;
  }

  .lang-div {
    flex-direction: row;
    padding: 5px 15px;
  }

  .lang-list {
    padding: 20px;
    flex-direction: column;
    width: 122px;
    height: 120px;
  }

  .about {
    padding-left: 60px;
    padding-right: 50px;
  }

  section.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .contact-me {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .contact-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./images/Destop-bg.png);
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: inherit;
    border-top-left-radius: 80px;
  }

  .contact-me h2,
  .contact-me p {
    grid-column: 2/4;
    padding: 0 20px;
  }

  .contact-me p {
    transition: transform 0.3s ease-in-out;
  }

  .contact-me p:hover {
    transform: translate(42px, 8px);
  }

  .contact-me-form .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input,
  .form textarea {
    width: 447px;
    border-radius: 0;
  }
}
