@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

header {
  background-color: #fff;
}

.ambuger-menu {
  display: flex;
  flex-direction: column;
}

.bar {
  display: block;
  width: 33px;
  height: 3px;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #162ae3;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

section {
  padding: 5rem 1.25rem 6rem;
  background-color: #fff;
}

section:nth-of-type(1) {
  border-bottom-left-radius: 80px;
  background-image: url("./images/hero_bg.png");
  background-repeat: no-repeat;
}

.section-head {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  padding: 0.6em 0;
}

.section-head p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.section-head h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  font-style: normal;
}

.self-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.self-container p {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  height: 24px;
  flex: none;
}

.list-items {
  display: flex;
  gap: 10px;
}

.list-items img {
  height: 15px;
  width: 15px;
}

.list-items li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-logo a {
  width: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.project-card {
  flex-direction: column;
  gap: 24px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.project-container {
  gap: 24px;
}

.project-meta {
  padding: 8px 0;
  width: 100%;
  gap: 12px;
  align-items: center;
}

p.bold {
  font-weight: 600;
  text-transform: uppercase;
}

.project-meta p {
  font-size: 13px;
  color: #7a869a;
  padding: 8px 0;
}

.round {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

.project-note {
  font-size: 15px;
}

ul {
  list-style-type: none;
}

.project-skills {
  gap: 8px;
  margin: 12px 0;
}

.project-skills li {
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
  font-size: 12px;
}

button {
  margin-top: 24px;
  padding: 12px;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  font-size: 17px;
  width: fit-content;
}

.header-text {
  max-width: 50%;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.para-text {
  margin: 12px 0;
}

ul.list-items.skill-items {
  margin-top: 12px;
  gap: 24px;
}

.language {
  margin-top: 24px;
  gap: 12px;
}

.lang-text {
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  color: #000;
  font-weight: 500;
  width: 100%;
  padding: 16px;
}

.skill-text {
  font-size: px;
  color: #253858;
  font-weight: 500;
}

span {
  display: inline-block;
}

.lang-line {
  font-weight: 500;
  color: #5e6c84;
  transform: rotate(90deg);
}

.line:nth-of-type(1) {
  rotate: 90deg;
}

.lang-list {
  align-items: center;
  padding: 24px;
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
}

.lang-div {
  gap: 12px;
}

.frame-line {
  color: #bbb;
}
